@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('fonts/Cairo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --border-radius: 0.25rem;
  --green: #00b773;
  --blue: #00bcd4;
  --purple: #8d03fe;
  --red-1: #b70000;
  --red-2: #5C0000;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  to {
    transform: translateX(15em);
  }
}

* {
  font-family: 'Cairo';
}

body {
  margin: 0;
  background-color: white;
}

section {

  height: fit-content;

}

a {

  text-decoration: none;

}

ul {

  list-style-type: none;
  padding: 0;

}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('/background.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  #hero-headline {
    font-size: min(calc(5vw - 0.5em), 1.5em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5vw;
    color: #004f58;

    h1 {
      font-size: 5em;
      margin: 0px;
    }

    h3 {
      font-size: 1.9em;
      margin: 0px;
    }
    
  }

  #logo {
    width: 8em;
    height: 8em;
    margin-bottom: -5em;
  }

}

#categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  height: fit-content;
  justify-content: space-around;

  .category#history {

    font-size: min(4vw, 0.8em);
    position: relative;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    background-color: var(--red-1);
    display: flex;
    color: white;
    flex-direction: column;

    .category__headline {

      position: relative;
      height: 10em;
      padding-right: 1em;

      &:after {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to top, var(--red-1) 3%, transparent);
      }

      h2 {

        font-size: 2.5em;
        color: var(--red-2);
        text-align: right;
        line-height: 1.35em;
        font-weight: 900;

      }

    }

    .category__label {

      font-weight: 900;
      position: absolute;
      right: 1em;
      bottom: 0.6em;
      font-size: 1.75em;
      color: var(--red-2);

    }

    .category__gallery {

      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5em;

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to top, var(--red-1) 3%, transparent);
        opacity: 0.8;
      }

      .category__stack {

        --card-width: 8em;
        --gap: 0.5em;
        width: calc(7 * (var(--card-width) + var(--gap)));
        gap: var(--gap);
        display: flex;
        
        animation: move 1s linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);

      }

      .category__book {
        background-size: cover;
        background-position: center;
        transition: transform 0.2s;
        background-color: var(--red-2);
        width: var(--card-width);
        height: calc( var(--card-width) * 10/7 );
        border-radius: var(--border-radius);
        opacity: 0.5;
        display: inline-block;
      }

      .category__book:nth-child(4) {
        opacity: 1;
      }

    }

  }

  #categories-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    & > div {

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      transform: scale(0.9);

      div:first-child {
  
        display: flex;
        justify-content: right;
        
        h2 {
          font-size: 4em;
          color: #00442b;
          margin: 0px;
          width: 80vw;
          text-align: right;
        }
  
      }
  
      div:nth-child(2) {
  
        --scale-factor: 1.2;
        width: calc(7em * var(--scale-factor));
        height: calc(7em * var(--scale-factor));
        display: flex;
        justify-content: center;
        align-items: center;
        
        svg {
          width: 100%;
          margin-top: -2em;
          margin-left: -2em;
          path {
            fill: var(--green);
          }
        }
  
      }

    }

    svg {
      transform-origin: center;
      animation: rotate 1s linear infinite;
      animation-play-state: paused;
      animation-delay: calc(var(--scroll) * -1s);
      path {
        stroke: white;
        stroke-width: 10px;
      }
    }

  }

  #categories-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    #categories-bentogrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 28vw 355px;
      gap: 10px;
      padding: 10px;
    }

    .category {

      overflow: hidden;
      border-radius: var(--border-radius);

      img {
        object-fit: contain;
        height: 100%;
      }

    }

    #more-categories {
      background-color: var(--blue);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      font-size: 5vw;
      background: url('/categories/more-categories.png');
      background-size: cover;
      font-weight: bolder;
      color: #00525b;
      position: relative;

      div {
        height: 90%;
      }

      svg {
        position: absolute;
        bottom: 0.5em;
        width: 60%;
        path { stroke: white; }
      }
    }

    .category:nth-child(3) {
      grid-column: 3 / 5;
      grid-row: 1 / 2;
      background-color: var(--purple);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 24px;
    }

    .category:nth-child(4) {
      grid-column: 1 / 3;
      grid-row: 1 / 1;
      background-color: #2196f3;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 24px;
    }

  }
  
}

#books {
  display: flex;
  justify-content: center;
  align-items: center;

  #books-grid {
    --cell-width: 30vw;
    --cell-height: calc(var(--cell-width) * 1.5);
    --cell-border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    min-height: 90vh;
    gap: 5px;
    margin: auto;

    .cell, .qoute {
      border-radius: var(--cell-border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-family: 'Cairo';
      font-weight: regular;
      font-size: 2.2em;
      text-align: justify;
      direction: rtl;
      height: var(--cell-height);
    }

    .qoute {
      color: black;
      width: calc( ((var(--cell-width)) * 1) );
      height: var(--cell-height);
      font-size: 6.1vw;
      div {
        max-width: 25vw;
      }
    }

    .qoute:first-child {
      font-weight: bold;
      position: relative;
      svg {
        position: absolute;
        width: 1em;
        bottom: 5vw;
        left: 5vw;
        height: 1em;
        transform: scale(2);
        z-index: -1;
      }
    }

    .qoute:not(:first-child) {
      background-color: var(--blue);
      color: white;
    }

    .cell {
      width: var(--cell-width);
      height: var(--cell-height);
    }

    .book {
      background-size: cover;
      background-position: center;
      transition: transform 0.2s;
      cursor: pointer;
      &:hover {
        transform: scale(0.9);
      }
    }

    .cell:not(.book) {
      display: none;
    }

  }

}

#events {

  --background-color: #f4f4f4;
  width: 95%;
  margin: auto;
  background-color: var(--background-color);
  overflow: hidden;
  margin-top: 10px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5em;
  padding: 1em;
  direction: rtl;
  align-items: center;

  #events-headline {
    color: #00535e;
    position: relative;
    font-size: min(15vw, 4rem);
    text-align: center;
    font-weight: bolder;

    div {

      position: relative;
      overflow: hidden;
      width: fit-content;
      padding-inline: 0.55em;
      
      svg {
        position: absolute;
        width: 1em;
        bottom: 0;
        height: 1em;
      }

    }

    div:first-child {
      opacity: 0.99;
      svg {
        left: 0em;
        z-index: -1;
      }
    }

    div:nth-child(2) svg {
      right: 0em;
      path {
        fill: var(--green);
      }
    }

    div:nth-child(3) svg {
      right: 60%;
      path {
        fill: var(--blue);
      }
    }

  }

  #events-list {

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;

  }

  .event-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 1em;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 0.25rem 1.2875rem rgba(0, 0, 0, 0.05);
    width: 17em;
    min-height: 12em;
    flex-wrap: wrap;
  }
  
  .event-card__logo {
    width: 12rem;
    height: 8rem;
    background-size: contain;
    border-radius: 1.53rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .event-card__name {
    margin: 0;
    color: #000000;
    font-family: Cairo, var(--default-font-family);
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 2.8rem;
    text-align: right;
    width: 75%;
  }
  
  .event-card__location {
    margin: 1rem 0 0;
    color: #6b6b6b;
    font-weight: 900;
    text-align: right;
  }

  .event-card__time {
    display: flex;
    gap: 1em;
  }
  
  .event-card__date {
    color: #939393;
    text-align: right;
  }
  
  .event-card__date-label {
    font-weight: 900;
  }

}

.event:first-child {

  .event__thumbnail {
    background: url('/events/oman/background.png');
  }

  .event__foreground {
    background-image: url('/events/oman/foreground.png');
  }

  .event__logo {
    background-image: url('/events/oman/logo.png');
  }

}

.event:nth-child(2) {

  .event__thumbnail {
    background: url('/events/saudia/background.png');
  }

  .event__foreground {
    background-image: url('/events/saudia/foreground.png');
  }

  .event__logo {
    --size: 9em !important;
    background-image: url('/events/saudia/logo.png');
  }

}

.event:nth-child(3) {

  .event__thumbnail {
    background: url('/events/algeria/background.png');
  }

  .event__foreground {
    background-image: url('/events/algeria/foreground.png');
  }

  .event__logo {
    --size: 8em !important;
    background-image: url('/events/algeria/logo.png');
  }

}

footer {

  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  padding: 1em;

}

/*
=====================
======= Tablet ======
=====================
*/

@media (min-width: 768px) {

  #categories {
    
    #categories-bentogrid {
      grid-template-columns: 1fr 2.35fr 3fr !important;
      grid-template-rows: repeat(2, 200px) !important;
    }

    .category:nth-child(2) {
      grid-column: 2 / 3 !important;
      grid-row: 1 / 3 !important;
    }

    .category:nth-child(3) {
      grid-column: 3 / 3 !important;
      grid-row: 1 / 2 !important;
    }

    .category:nth-child(4) {
      grid-column: 3 / 3 !important;
      grid-row: 2 / 3 !important;
    }

    #more-categories {
      grid-column: 1 / 2 !important;
      grid-row: 1 / 3 !important;
      div {
        font-size: 0.65em;
      }
    }

  }

  #events {

    .event__thumbnail {

      height: 14em !important;

    }

    .event:first-child .event__logo {

      --size: 8em !important;

    }

    .event__logo {
      --size: 13em !important;
    }

  }

}

/*
=====================
======= Desktop ======
=====================
*/

@media (min-width: 1024px) {

  #events {

    flex-direction: row !important;
  
    #events-headline {
      width: unset !important;
    }

    #events-list {

      justify-content: unset !important;

    }

  }

  #categories {
  
    flex-direction: row-reverse;

    #categories-bentogrid {
  
      width: 49vw;

    }

    #categories-headline {

      h2 {

        font-size: 3em !important;
        width: 30vw !important;

      }

    }

    #more-categories {
      div {
        transform: scale(0.8);
        font-size: 0.45em;
      }
    }

  }

  #books-grid {

    --cell-width: 18vw !important;
    
    .qoute {
      font-size: 4.5vw !important;

      &:first-child {
        width: calc( ((var(--cell-width)) * 2) + 5px ) !important;
      }

    }

  }

}